*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    font-size: 100%;
}

nav ul{
    background-color: #333;
    height: 50px;
    width: 100%;
}

nav li{
    list-style: none;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.4s ease;
}

nav a:hover{
    background-color: crimson;
}